@page "/products"
@rendermode InteractiveServer

@* @inject AppDbContext Db *@
@inject ProductService ProductService

<h3>Product List</h3>

@if (products == null)
{
    <p>No products found</p>
}
else
{
    <ul>
        @foreach (var p in products)
        {
            <li>@p.Name - @p.Price?.ToString("C")</li>
        }
    </ul>
}


@code {
    private List<Product>? products = new();

    protected override async Task OnInitializedAsync()
    {
        //products = Db.Products.ToList();
        products = await ProductService.GetProductsAsync();
    }
}
